<div class="container">
      <div class="jumbotron" id="jumb" >
         <a href="#">Sign Up</a> |
         <a href="#">Login</a>   |
         <a href="#">Become a correspondent and get paid</a>  |
         <a href="#">Trending</a>  |
         <!-- <a href="/new_post">Creat New Post</a>  | -->
        <hr>
        <p>Copyright &copy; Talk-Talk 2017 </p>
      </div>
</div>
