
<body id="body" >
<nav class="navbar navbar-inverse  navbar-fixed-top" id="nav-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" id="navbrand" href="/" aria-hidden="true"><i class="fa fa-bullhorn" aria-hidden="true"></i> Talk-Talk</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home <i class="fa fa-home" aria-hidden="true" ></i></a></li>
                </ul>

            </div>
        </div>
</nav>
